* {
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Saira Stencil One', cursive;
}

#date {
  display:none;
}

#main {
	display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#products {
	list-style: none;
}

.incidents {
  list-style: none;
}

.fade li {
	transition: all 0.4s ease-out;
  	opacity: 0;
  	height: 2em;
}

.fade li.show {
	opacity: 1;
} 

.ok {
	color: #0da960;
}

.medium {
	color: #ff9800;
}

.high {
	color: rgb(255,51,0);
}

.fas {
	margin-left: 5%;
}