* {
	text-align: center;
}

h1, h2 {
	font-family: 'Saira Stencil One', cursive;
}

#products {
	list-style: none;
}

.ok {
	color: #0da960;
}

.medium {
	color: #ff9800;
}

.high {
	color: rgb(255,51,0);
}