* {
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Saira Stencil One', cursive;
}

#date {
  display:none;
}

#main {
	display: none;
}

.loader {
  margin: auto;
  margin-top: 5%;
  width: 64px;
  height: 64px;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #85C1E9;
  border-color: #85C1E9 transparent #85C1E9 transparent;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

#products {
	list-style: none;
}

.incidents {
  list-style: none;
}

.fade li {
	transition: all 0.4s ease-out;
  	opacity: 0;
  	height: 2em;
}

.fade li.show {
	opacity: 1;
} 

.ok {
	color: #0da960;
}

.medium {
	color: #ff9800;
}

.high {
	color: rgb(255,51,0);
}

.fas {
	margin-left: 5%;
}